.Meal {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
}

.shotcut{
    flex: 60%;
}

img {
    width: 100%;
    height: 100%;
}

.content {
    padding: 40rem 40rem 20rem 10rem;
}

.title {
    font-weight: 400;
    font-size: 28rem;
    margin: 0;
}

.desc {
    color: #bbb;
}

.priceBox {
    display: flex;
    justify-content: space-between;
    margin-top:40rem;
}

.price {
    padding-left: 10rem;
    font-weight: 700;
    font-size: 36rem;
}

.price::before {
    content:'ï¿¥';
    font-size: 24rem;
}