.calendar {
    /* width: 10%;
    padding-top: 10%; */

    width: 70px;
    height: 70px;

    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;

    text-align: center;
    font-weight: 700;
    color: #fff;
}

.month {
    height: 26px;
    font-size: 20px;
    line-height: 26px;
    background-color: red;
}

.day {
    height: 44px;
    color: #000;
    background-color: #fff;
    font-size: 40px;
    line-height: 44px;
}

