.confirmBackdrop{
    z-index: 40;
}

.confirmContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 41;

    width: 700rem;
    height: 300rem;
    background-color: #fff;

    border-radius: 40rem;
}

.confirmMsg{
    font-size: 36rem;
}

.cancelBtn,
.okBtn
{
    width: 180rem;
    height: 60rem;
    margin: 0 40rem;

    font-size: 28rem;

    background-color: #fff;
    border: 1px solid #ccc;

    border-radius: 30rem;
}

.okBtn {
    background-color: orange;
}
