.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #fcbf49;
    border-radius: 50%;
    height: 36rem;
    width: 36rem;
    border: none;
    font-size: 24rem;
    padding: 0;
}

.sub {
    background-color: #fff;
    border: 1px solid #000;
}

.countNum {
    font-size: 32rem;
    font-weight: 400;
    padding: 0 10px;
}